.nav {
  background-color: #232536;
  padding: 12px 0;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: white;
  }
  .right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.active {
  background-color: red;
}
